@import url('./global.css');

:root::before {
  /* Preload Image */
  content: url(../img/headshot.jpg)
  url(../img/headshot.jpg)
  url(../img/headshot.jpg);

  /* partial fallback */
  background-image: url(../img/headshot.jpg);
  visibility: hidden;
  position: absolute;
  left: -999em;
}

.about {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 3rem;
  padding-bottom: 5rem;
}

.about .info {
  font-size: var(--text-size);
  padding-right: 2rem;
  word-wrap: break-word;
}

.about .title {
  font-weight: bold;
  font-size: var(--title-size);
  padding-bottom: 3rem;
}

.about .image {
  height: 25rem;
  width: 20rem;
  min-height: 5rem;
  min-width: 5rem;
  background-image:url(../img/headshot.jpg);
  image-rendering: -webkit-optimize-contrast;
  background-color: inherit;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  flex-shrink: 0;
}