@import url('./global.css');

.contact {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  padding: 1rem 3rem;
  padding-bottom: 5rem;
}

.contact .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20rem;
  height: auto;
}

.contact .info .title {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 5rem;
}

.contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width: 20rem;
}

.contact input {
  width: 100%;
}

.contact textarea {
  width: 100%;
  min-height: 8rem;
  font-family: inherit;
}

.contact input,
.contact textarea {
  padding: 0.5rem 0.75rem;
}

.contact button {
  padding: 0.25rem 0.5rem;
}
