@import url('./global.css');

.contact {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  padding: 1rem 3rem;
  padding-bottom: 5rem;
}

.contact .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
  width: 20rem;
  height: auto;
  font-size: var(--text-size);
}

.contact .info .title {
  font-size: var(--title-size);
  font-weight: bold;
  padding-bottom: 3rem;
}

.contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width: 20rem;
  min-width: 0;
}

.contact textarea {
  min-height: 8rem;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-family: inherit;
  font-size: var(--text-size);
  border: none;
  /* border-radius: 0.5rem; */
}

.contact input:focus-visible,
.contact textarea:focus-visible {
  outline: none;
}

.error {
  width: 100%;
  padding: 0;
  margin-top: -1rem;
  font-size: 80%;
  color: var(--primary-color);
  box-sizing: border-box;
  padding: 0.5rem 1rem;
}

.error.active {
  font-size: 1rem;
  font-weight: bold;
  background-color: rgba(255, 0, 0, 0.555);
}

@media screen and (max-width: 960px) {
  .contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 3rem;
  }

  .contact .info {
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  .contact form {
    width: 100%;
    align-items: center;
  }

  .contact input,
  .contact textarea {
    min-width: 0;
  }
}
