@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Prompt&display=swap');

:root {
  /* Global variables */
  --hf-background: #1b1b1b00;
  --hf-background-color: rgb(27,27,27);
  --primary-color: #f8efd4;
  --secondary-color: rgb(222, 222, 228);
  --tertiary-color: rgb(218, 0, 0);
  --page-min-width: 30rem;
  --page-width: 80vw;
  --page-max-width: 70rem;
  --title-size: 2.5rem;

  /* Global Settings */
  font-family: 'Prompt', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  min-width: 100vw;

  /* Background */

  /* fallback for old browsers */
  background: rgb(27,27,27);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: radial-gradient(circle, rgba(27,27,27,1) 0%, rgba(0,0,0,1) 100%);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-radial-gradient(circle, rgba(27,27,27,1) 0%, rgba(0,0,0,1) 100%);
}

html {
  height: auto;
  scroll-behavior: smooth;
}

/* Link to area on page */
.anchor {
  display: block;
  position: relative;
  top: -10rem;
  visibility: hidden;
}
