@import url(./global.css);
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

:root {
  --header-height: 4rem;
}

.header {
  background: rgb(0, 0, 0);
  width: var(--page-width);
  min-width: var(--page-min-width);
  max-width: var(--page-max-width);
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  position: sticky;
  z-index: 69;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.company-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.company-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
  font-family: 'Prompt', sans-serif;
  color: var(--primary-color);
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
  list-style: none;
}

.fa-bars {
  display: none;
  color: var(--primary-color);
}

@media screen and (max-width: 960px) {
  .header {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .menu-item {
    width: 100%;
  }

  .menu-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95vh;
    position: absolute;
    top: var(--header-height);
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    justify-content: center;
  }

  .menu-items.active {
    background: rgb(0, 0, 0);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .menu-icon {
    position: absolute;
    right: 2rem;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: var(--primary-color);
    font-size: 2rem;
  }

  .fa-bars {
    display: flex;
    justify-content: center;
    align-content: center;
    color: var(--primary-color);
  }
}
