@import url(./global.css);
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

.header {
  background: rgb(0,0,0);
  width: var(--page-width);
  min-width: var(--page-min-width);
  max-width: var(--page-max-width);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  position: sticky;
  z-index: 69;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.company-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.company-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
  font-family: 'Prompt', sans-serif;
  color: var(--primary-color);
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
  list-style: none;
}
